<nav class='navbar navbar-expand navbar-light bg-light sticky-top'>
  <a class="navbar-brand">
    {{pageTitle}}</a>
  <ul class='nav nav-pills mr-auto'>
      	<li
        [ngClass]="{'ml-auto': !isScreenWidthGreaterThan400}">
          <a class='btn btn-outline-primary btn-custom-width'
            style="margin-bottom: 5px;"
            (click)="navigateHome()">Home
          </a>
        </li>
        <li
        [ngClass]="{'ml-auto': !isScreenWidthGreaterThan400}">
          <a class='btn btn-outline-secondary btn-custom-width'
            style="margin-left: 10px;"
            (click)="navigatePictureList()">Picture List
          </a>
        </li>
	</ul>
</nav>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>