<nav class='navbar navbar-expand navbar-light bg-light sticky-top'>
  <a class="navbar-brand">
    {{pageTitle}}</a>
  <ul class='nav nav-pills'>
      	<li class="ml-auto">
          <a class='btn btn-outline-primary btn-custom-size'
            (click)="navigateHome()">Home
          </a>
        </li>
      	<li class="ml-auto">
          <a class='btn btn-outline-secondary btn-custom-size'
            (click)="navigatePictureList()">Picture List
          </a>
        </li>
	</ul>
</nav>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>