<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
        </div>
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Andrej Milovanovikj</h3>
        </div>
        <div class="text-center">@amilovanovikj</div>
        <div class="text-center">
          <a href="https://github.com/amilovanovikj/">www.github.com/amilovanovikj</a>
        </div>
      </div>
    </div>
</div>