<div class="card" (window:resize)="onResize($event)"
    infiniteScroll
    (scrolled)='onScroll()'>
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body"
    *ngIf="pictureList; else noPictureList">
        <div class="row">
            <div class="bottom-spacer col-6 col-md-4 col-lg-3 col-xl-2 d-flex "
                [ngClass]="{'col-12': isSmallScreen}"
                *ngFor="let picture of picturesLazyLoad">
                <div class='card btn btn-outline-light'
                    style="color: #444"
                    (click)='navigateToPicture(picture)'>
                    <img class="card-img-top" [src]='picture.thumbnailUrl'>
                    <div class="card-body">    
                        <h6 class="card-title">{{ picture.title | titlecase }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noPictureList>
        <div class="card-body">
            <h6 class="row card-title" style="padding: 15px">Please wait while the pictures load...</h6>
        </div>
    </ng-template>
    <div class="card-footer">
        
    </div>
</div>

